@{
    Page.Title = "Home";
    Layout = "_Layout.cshtml";
    <p>First Name = Wing Lam</p>
    <p>Last Name = Wong</p>
    <p>Email = johnathanwl_2@hotmail.com</p>
    <p>Login ID = wwong32</p>
    <p>GitHub = wwong32</p>
}

@section pagetitle{
    <h1>Home page</h1>
}
